
{{ partial "header.html" . }}

<div class="container">
{{ partial "nav.html" . }}
	<div class="row main-row"> 
		<div class="col-md-12">     
			<h1>{{ .Title }}  {{ .Params.sidebar}}</h1>
			{{ if .Params.subTitle   }}<p>{{ .Params.subTitle }}</p> {{end}}
			
			{{if eq .Params.sidebar true }}				
				<div class="col-md-2 aside ">					
						<date>{{.Params.sidebar_date}} </date><br>
					<ul>
						{{ range .Params.sidebar_Content  }}
							<li><a href="{{.filled_url}}">{{.filled_text}} </a></li>
						{{end}}
					</ul>					
				</div>	
				<div class=" col-md-10"> 
					{{ .Content }}
				</div>
				
				{{ else }}
				
				{{ .Content }}
				
			{{ end}}
		
			
		
			
			
			
		</div>
	</div>
  
 
 {{ if not (or (eq .URL "/privacy-policy/") (eq .URL "/nl/privacybeleid/")  (eq .URL "/terms-of-use/")  (eq .URL "/nl/gebruiksvoorwaarden/")  ) }} 
	{{ partial "subscribe.html" . }}
 {{end }}

   
</div>
  
{{ partial "footer2.html" . }}
