
{{ partial "header.html" . }}

<div class="container">
{{ partial "nav.html" . }}

	<h1 class="title">{{ .Title  }}</h1>
	<h3 class="sub-title"> {{ .Page.Params.subtitle }}</h3>
	<!--<div class="row mt60">
		<div class="col-md-3">
		{{  $.Site.Data.about.weareabout.title }}
		
		</div>
		<div class="col-md-8 col-md-push-1">
		{{  $.Site.Data.about.weareabout.description | markdownify }}
		{{ $data := index .Site.Data (printf "about.weareabout_%s" .Site.Language.Lang ) }}
		</div>
	</div> -->
	
	<!--
	<div class="row">
		<div class="col-md-3">
			{{  $.Site.Data.about.morerevenu.title }}
		</div>
		<div class="col-md-8 col-md-push-1">
			{{  $.Site.Data.about.morerevenu.description | markdownify }}
		</div>
	</div>
	
	<div class="row border-section">
		<div class="col-md-12">
			{{ partial "subscribe.html" . }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			{{  $.Site.Data.about.whoWeAre.title }}
		</div>
		<div class="col-md-8 col-md-push-1">
			{{  $.Site.Data.about.whoWeAre.description | markdownify }}
		</div>
	</div>
	-->
	
  {{ .Content }}
 

   
</div>
  
{{ partial "footer2.html" . }}
