
{{ partial "header.html" . }}

<div class="container">
{{ partial "nav.html" . }}

	<h1 class="title">{{ .Title  }}</h1>
	<h3 class="sub-title"> {{ .Page.Params.subtitle }} <span>{{ .Page.Params.subtitleLight }}</span> </h3>
	<div class="row" style="margin-top:50px;">
		<div class="col-md-8  col-md-push-2">			
				{{ if eq .Page.Params.form "true" }} 
					<form class="contact-form" name="contact" method="POST" action="/thanks/" netlify>
						<div class="form-group">
							<div class="col-md-6">
								<label>{{ .Page.Params.name }}*:</label>
								<input type="text" name="name" class="form-control" placeholder="{{ .Page.Params.placeholderName }}">
							
							</div>
							
							<div class="col-md-6">
								<label>{{ .Page.Params.email }}*:</label>
								<input type="text" name="email" class="form-control"  placeholder="{{ .Page.Params.placeholderEmail }}">							
							</div>
							<div class="clearfix"></div>
						
						</div>
						
						<div class="form-group">
							<div class="col-md-12">
								<label>{{ .Page.Params.subject }}:</label>
								<input type="text" name="email" class="form-control"  placeholder="{{ .Page.Params.placeholderSubject }}">							
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<label>{{ .Page.Params.message }}:</label>
								<textarea name="message" class="form-control"  placeholder="{{ .Page.Params.placeholderMessage }}" rows="6"></textarea>
								
							</div>
							<div class="clearfix"></div>
						</div>
						
						<div class="form-group">
							<div class="col-md-12">
								 <div data-netlify-recaptcha></div>						
							</div>
							<div class="clearfix"></div>
						</div>
						
						<div class="form-group">
							<div class="col-md-12 text-right">
								<button type=”submit” class="btn btn-primary"> {{ .Page.Params.submitText }} </button>				
							</div>
							<div class="clearfix"></div>
						</div>
				{{ end }} 
		
			{{ .Content }}
		</div>
	</div>
	
	<!--<div class="row mt60">
		<div class="col-md-3">
		{{  $.Site.Data.about.weareabout.title }}
		
		</div>
		<div class="col-md-8 col-md-push-1">
		{{  $.Site.Data.about.weareabout.description | markdownify }}
		{{ $data := index .Site.Data (printf "about.weareabout_%s" .Site.Language.Lang ) }}
		</div>
	</div> -->
	
	<!--
	<div class="row">
		<div class="col-md-3">
			{{  $.Site.Data.about.morerevenu.title }}
		</div>
		<div class="col-md-8 col-md-push-1">
			{{  $.Site.Data.about.morerevenu.description | markdownify }}
		</div>
	</div>
	
	<div class="row border-section">
		<div class="col-md-12">
			{{ partial "subscribe.html" . }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			{{  $.Site.Data.about.whoWeAre.title }}
		</div>
		<div class="col-md-8 col-md-push-1">
			{{  $.Site.Data.about.whoWeAre.description | markdownify }}
		</div>
	</div>
	-->
	
  
 

   
</div>
  
{{ partial "footer2.html" . }}
