
{{ partial "header.html" . }}

<div class="container">
{{ partial "nav.html" . }}

	<h1 class="title">{{ .Title  }}</h1>
	<h3 class="sub-title"> {{ .Params.subtitle }} <span>{{ .Params.subtitleLight }}</span> </h3>
	<div class="row" style="margin-top:50px;">
		<div class="{{ if eq .Params.form "true" }} col-md-8  col-md-push-2 {{ else }} col-md-12 {{ end }}" >			
				{{ if eq .Params.form "true" }} 
					<form class="contact-form" name="contact" method="POST" action="{{  .Params.contact_form.action }}" netlify>
						<div class="form-group">
							<div class="col-md-6">
								<label>{{  .Params.contact_form.name_label }}</label>
								<input type="text" name="name" class="form-control" placeholder="{{  .Params.contact_form.placeholder_name }}">							
							</div>							
							<div class="col-md-6">
								<label>{{  .Params.contact_form.email_label }}</label>
								<input type="text" name="email" class="form-control"  placeholder="{{  .Params.contact_form.placeholder_email }}">							
							</div>
							<div class="clearfix"></div>						
						</div>						
						<div class="form-group">
							<div class="col-md-12">
								<label>{{  .Params.contact_form.subject_label }}</label>
								<input type="text" name="email" class="form-control"  placeholder="{{  .Params.contact_form.placeholder_subject }}">							
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<label>{{  .Params.contact_form.message_label }}</label>
								<textarea name="message" class="form-control"  placeholder="{{  .Params.contact_form.placeholder_message }}" rows="6"></textarea>
							</div>
							<div class="clearfix"></div>
						</div>						
						<div class="form-group">
							<div class="col-md-12">
								 <div data-netlify-recaptcha></div>						
							</div>
							<div class="clearfix"></div>
						</div>
						
						<div class="form-group">
							<div class="col-md-12 text-right">
								<button type=”submit” class="btn btn-primary"> {{  .Params.contact_form.submit_text }} </button>				
							</div>
							<div class="clearfix"></div>
						</div>
					</form>
				{{ end }} 
		
			{{ .Content }}
		</div>
	</div>
	
	<!--<div class="row mt60">
		<div class="col-md-3">
		{{  $.Site.Data.about.weareabout.title }}
		
		</div>
		<div class="col-md-8 col-md-push-1">
		{{  $.Site.Data.about.weareabout.description | markdownify }}
		{{ $data := index .Site.Data (printf "about.weareabout_%s" .Site.Language.Lang ) }}
		</div>
	</div> -->
	
	<!--
	<div class="row">
		<div class="col-md-3">
			{{  $.Site.Data.about.morerevenu.title }}
		</div>
		<div class="col-md-8 col-md-push-1">
			{{  $.Site.Data.about.morerevenu.description | markdownify }}
		</div>
	</div>
	
	<div class="row border-section">
		<div class="col-md-12">
			{{ partial "subscribe.html" . }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			{{  $.Site.Data.about.whoWeAre.title }}
		</div>
		<div class="col-md-8 col-md-push-1">
			{{  $.Site.Data.about.whoWeAre.description | markdownify }}
		</div>
	</div>
	-->
	
  
 

   
</div>
  
{{ partial "footer2.html" . }}
