{{ partial "header.html" . }}

<div class="container">
{{ partial "nav.html" . }}
	<div class="row main-row"> 
		<div class="col-md-12">     
			<div class="block">
				{{ with .Params.image }}<img src="{{ . | absURL }}" width="100%" alt="post-image"> {{ end }}
	            <h1>
					{{ .Params.title }}
					{{ if .Params.subTitle   }}<small>{{ .Params.subTitle }}</small> {{end}}
				</h1>
	            <div class="post-info-wrapper">
	              <p class=""> {{ if .Params.author }}{{ if eq $.Lang "nl" }} Door: {{else}} By: {{end}} {{end}} <span class="bold">{{ .Params.author }}</span> on  
				  
				  
				  
				  <span class="bold">{{ if eq $.Lang "nl" }}
								<time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
							  {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} 
							</time>
							{{else}}
								<date>{{ .Date | dateFormat "02 January  2006" }}</date>
							
							{{end}}</span></p>
	            </div>
	            <hr />
	        </div>
			
			{{if eq .Params.sidebar true }}				
				<div class="col-md-2 aside ">	
						
				
						<date>Date: 
						{{ with .Params.sidebarDate }}
							{{ if eq $.Lang "nl" }}
								<time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
							  {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} 
							</time>
							{{else}}
								<date>{{ .Date | dateFormat "02 January  2006" }}</date>
							
							{{end}}
							
							
						{{ end }}
						</date><br>
						
						
						
						<p>
						Filed in:
						{{ range .Params.sidebar_Content  }}
							<a href="{{.filled_url}}">{{.filled_text}}</a>
						{{end}}
						</p>
					</ul>					
				</div>	
				<div class=" col-md-10 block"> 
					{{ .Content }}
				</div>
				
				{{ else }}
				<div class="block"> 
					{{ .Content }}
				</div>
				
			{{ end}}
		
			
		
			
			
			
		</div>
	</div>
  
 
 {{ if not (or (eq .URL "/privacy-policy/") (eq .URL "/nl/privacybeleid/")  (eq .URL "/terms-of-use/")  (eq .URL "/nl/gebruiksvoorwaarden/")  ) }} 
	{{ partial "subscribe.html" . }}
 {{end }}

   
</div>
  
{{ partial "footer2.html" . }}
