{{ partial "header.html" . }}

<div class="container">
{{ partial "nav.html" . }}
	<div class="row main-row"> 
		<div class="col-md-12">     
			<div class="block">
				{{ with .Params.image }}<img src="{{ . | absURL }}" width="100%" alt="post-image"> {{ end }}
	            <h1>
					{{ .Params.title }}
					{{ if .Params.subTitle   }}<small>{{ .Params.subTitle }}</small> {{end}}
				</h1>
	            <div class="post-info-wrapper">
	              <p class="">By <span class="bold">{{ .Params.author }}</span> on <span class="bold">{{ .Date.Format "Mon, Jan 2, 2006" }}</span></p>
	            </div>
	            <hr />
	        </div>
		
			
			{{if eq .Params.sidebar true }}				
				<div class="col-md-2 aside ">					
						<date>Date: 
						{{ with .Params.sidebarDate }}
							{{ . | dateFormat "02 January  2006" }}
						{{ end }}
						</date><br>
						<p>
						Filed in:
						{{ range .Params.sidebar_Content  }}
							<a href="{{.filled_url}}">{{.filled_text}}</a>
						{{end}}
						</p>
					</ul>					
				</div>	
				<div class=" col-md-10 block"> 
					{{ .Content }}
				</div>
				
				{{ else }}
				<div class="block"> 
					{{ .Content }}
				</div>
				
			{{ end}}
		
			
		
			
			
			
		</div>
	</div>
  
 
 {{ if not (or (eq .URL "/privacy-policy/") (eq .URL "/nl/privacybeleid/")  (eq .URL "/terms-of-use/")  (eq .URL "/nl/gebruiksvoorwaarden/")  ) }} 
	{{ partial "subscribe.html" . }}
 {{end }}

   
</div>
  
{{ partial "footer2.html" . }}
