
<!--
<div class="btn-group pull-right lang-dropdown"> 
	 <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown">
		{{ .Language.LanguageName }}
		<span class="caret"></span>
	</button>
    <ul class="dropdown-menu lang-drop">
       {{ range $.Site.Home.AllTranslations }}
		<li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
		{{ end }}
    </ul>
</div>

{{ if .IsTranslated }}
<h4>{{ i18n "translations" }}</h4>
<ul>
    {{ range .Translations }}
    <li>
        <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}{{ if .IsPage }} ({{ i18n "wordCount" . }}){{ end }}</a>
    </li>
    {{ end}}
</ul>
{{ end }}

-->
<!--
{{ .Site.Language.Lang }}

<translations class="pull-right">

{{$test := .Translations}}
{{len $test}}
{{ range .Site.Languages }}
  <translation class="selected"><a href="">{{ .LanguageName }} {{ .Lang }}  </a>
{{ end }}

{{ if eq .Lang "nl" }}
<translation class="selected"><a href="{{ substr .Permalink 0 -1 }}">dansk</a></translation>
  {{ if .Translations }}
    {{ range .Translations }}
      <translation><a href="{{ substr .Permalink 0 -1}}">english</a></translation>
    {{ end }}
  {{ else }}
      <translation class="unavailable"><a href="/en/">english</a></translation>
  {{ end }}
{{ end }}
{{ if eq .Lang "en" }}
  {{ if .Translations }}
    {{ range .Translations }}      
      <translation><a href="{{ substr .Permalink 0 -1 }}">dansk</a></translation>
    {{ end }}
  {{ else }}
      <translation class="unavailable"><a href="/nl/">dansk</a></translation>
  {{ end }}
<translation class="selected"><a href="{{ substr .Permalink 0 -1 }}">english</a></translation>
{{ end }}
</translations>
-->

	{{ if .IsTranslated }}
	<span class="btn-lang">    
	{{ range .Translations }}
  
        <a href="{{ .Permalink | absLangURL }}" class="btn btn-default">{{ .Language.LanguageName }}</a>
   
    {{ end}}
</span>
{{ end }}
	



