<footer class="container footer-new">
	<div class="newsletter">
		<p>
			<span class="sc">{{ if eq $.Lang "nl" }} {{  .Site.Data.settings.Nl_footer_Subscription.highlight_title }} {{else}}{{  .Site.Data.settings.En_footer_Subscription.highlight_title }} {{end}}</span>{{ if eq $.Lang "nl" }} {{  .Site.Data.settings.Nl_footer_Subscription.main_title }} {{else}}{{  .Site.Data.settings.En_footer_Subscription.main_title }} {{end}} <br>{{ if eq $.Lang "nl" }} {{  .Site.Data.settings.Nl_footer_Subscription.sub_title }} {{else}}{{  .Site.Data.settings.En_footer_Subscription.sub_title }} {{end}} 
		</p>
		<form action="{{ if eq $.Lang "nl" }}/nl/thanks/{{else}}/thanks/{{end}}" method="post" class="newsletter__form js-newsletter" data-netlify="true" name="subFname">
				<div class="input-group">
					<input type="email" class="form-control" name="subemail" placeholder="{{ if eq $.Lang "nl" }} {{  .Site.Data.settings.Nl_footer_Subscription.placeholder_text }} {{else}}{{  .Site.Data.settings.En_footer_Subscription.placeholder_text }} {{end}}">
					 <span class="input-group-btn">
						<button class="btn btn-theme btn-primary" type="submit">{{ if eq $.Lang "nl" }} {{  .Site.Data.settings.Nl_footer_Subscription.button_text }}  {{else}}{{  .Site.Data.settings.En_footer_Subscription.button_text }}  {{end}} </button>
					 </span>
				</div>
		</form>
	</div>
	<div class="row">
		<div class="col-md-5">
			<nav>			
				<ul>				
					{{- $currentPage := . -}}
					{{ range .Site.Menus.main -}}
						<li>
							<a href="{{ .URL  | absLangURL }}">{{ .Name }} </a>
						</li>
					{{- end }}
				</ul>			
			</nav>		
		</div>
		<div class="col-md-2">
			© 2018 Monifa.
		</div>
		<div class="col-md-5">
			<nav>
				<ul>				
					{{- $currentPage := . -}}
						
					{{ range .Site.Menus.footer.ByWeight -}}
						
						<li>
							<a href="{{ if eq $.Lang "nl" }}/nl{{ .URL }}{{else}}{{ .URL }}{{end}}">{{ .Name }} </a>
						</li>
						
						
					
					{{- end }}
					
					
					
				</ul>	
			
			
			<!--
				<ul>			
					{{ range .Site.Menus.footer.ByWeight -}}						
						<li>
							<a href="{{ .URL  | absLangURL }}">{{ .Name }} </a>
						</li>						
					{{- end }}
				</ul>
				
				-->
			</nav>		
		</div>
	</div>
<!--	
	<p>© Copyright © 2018 – 2018 Arjan.	
	{{ range  .Site.Menus.footer.ByWeight }}		
		{{ if eq  .Weight 1 }} 
		 <a href="{{ .URL  | absLangURL }}">{{ .Name }} </a> 
		{{ end }}
	{{ end }}
	-->
</footer>

<script src="/js/custom.js"></script>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body> 
</html> 