
<footer class="container">
	
	<p>© Copyright © 2018 – 2018 Arjan.	
	{{ range  .Site.Menus.footer.ByWeight }}		
		{{ if eq  .Weight 1 }} 
		 <a href="{{ .URL  | absLangURL }}">{{ .Name }} </a> 
		{{ end }}
	{{ end }}
	<nav>
		<ul>			
			{{ range .Site.Menus.footer.ByWeight -}}
				{{ if not (eq  .Weight 1 ) }} 
					<li>
						<a href="{{ .URL  | absLangURL }}">{{ .Name }} </a>
					</li>
				{{ end }}
			{{- end }}
		</ul>
	</nav>
</footer>

<script src="/js/custom.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body> 
</html> 