<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	
	{{ if .Title }}
		<title>{{ i18n "head_title" }} - {{ .Title }}</title>
	{{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>


